.liked-by-server {
  position: relative;
}
.liked-by-server__header {
  padding: 140px 104px 20px;
}
.liked-by-server__title {
  line-height: 38px;
  font-weight: 700;
  color: #1a1b2280;
  font-size: 24px;
}

.liked-by-server__keywords-text {
  padding-top: 30px;
  font-size: 18px;
  line-height: 24px;
  max-width: 712px;
}
.liked-by-server__span {
  font-weight: 700;
}

.liked-by-server__form-container {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.liked-by-server__news-form {
  position: relative;
  background-color: white;
  width: 608px;
  border-radius: 100px;
  overflow: hidden;
  color: #b6bcbf;
  height: 64px;
  box-sizing: border-box;
}
.liked-by-server__news-input {
  height: 64px;
  min-width: 500px;
  width: 500px;
  border: 1px solid #d1d2d6;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #1a1b22;
  text-indent: 24px;
  outline: none;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 100px;
}
.liked-by-server__news-submit-button {
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
  position: absolute;
  height: 64px;
  width: 168px;
  background-color: #2f71e5;
  color: white;
  border-radius: 100px;
  border: none;
}
.liked-by-server__saved-container {
  padding: 32px 0;
  height: fit-content;
  max-width: 100vw;
  background-color: #f5f6f7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.liked-by-server__form-container-mobile {
  visibility: collapse;
  width: 0;
  height: 0;
}

.liked-by-server__news-submit-button:hover {
  width: 168px;
  background-color: #347eff;
  border: 2px black solid;
  font-size: 18px;
  font-weight: 700;
}

.liked-by-server__news-input:focus,
.liked-by-server__news-input:hover {
  border: 2px #4d90fe solid;
  border-radius: 100px;
  background-color: #ffffff;
  box-shadow: 0 0 30px rgba(77, 144, 254, 0.6);
}

@media screen and (max-width: 820px) {
  .liked-by-server__header {
    padding: 150px 16px 32px 40px;
  }
}

@media screen and (max-width: 768px) {
  .liked-by-server__title {
    font-size: 20px;
    line-height: 24px;
  }
  .liked-by-server__keywords-text {
    padding-top: 16px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 660px) {
  .liked-by-server__news-form {
    background-color: white;
    background-size: 100%;
    display: flex;
    min-width: 325px;
    border-radius: 100px;
    overflow: hidden;
  }
  .liked-by-server__news-input {
    height: 64px;
    width: 608px;
    font-size: 16px;
    line-height: 22px;
    color: #1a1b22;
    text-indent: 24px;
    border: none;
    outline: none;
  }
}

@media screen and (max-width: 500px) {
  .liked-by-server__header {
    padding: 80px 16px 32px;
  }
  .liked-by-server__title {
    padding: 16px 0;
    font-size: 16px;
    line-height: 20px;
  }

  .liked-by-server__keywords-text {
    padding-top: 50px;
    font-size: 18px;
    line-height: 24px;
  }

  .liked-by-server__form-container-mobile {
    padding-top: 20px;
    position: relative;
    visibility: visible;
    min-width: 250px;
    width: 100%;
    height: fit-content;
  }
  .liked-by-server__form-inner {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
    width: 100%;
  }

  .liked-by-server__form-container {
    width: 0;
    height: 0;
    visibility: collapse;
    position: absolute;
  }
  .liked-by-server__news-form-mobile {
    width: 100%;
  }

  .liked-by-server__news-input-mobile {
    padding: 0;
    margin: 0;
    border: 1px solid #d1d2d6;
    box-sizing: border-box;
    height: 56px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #1a1b22;
    text-indent: 24px;
    border-radius: 100px;
    outline: none;
    width: 100%;
  }
  .liked-by-server__submit-button-mobile {
    background-color: #2f71e5;
    color: white;
    border-radius: 100px;
    border: none;
    height: 56px;
    width: 100%;
  }
  .liked-by-server__saved-container {
    position: relative;
  }
}
