.main {
  width: 100%;
  position: relative;
  min-height: 576px;
  height: fit-content;
}

.main__search {
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.main__search-image-container {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
}

.main__search-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.main__search-container {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
}

.main__search-container-inner {
  padding: 160px 0 80px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 608px;
}

.main__search-container-title {
  font-family: "roboto-slab", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: white;
}

.main__search-container-sub {
  padding-bottom: 56px;
  color: white;
  font-size: 18px;
  line-height: 22px;
}

.main__search-container-text {
  font-size: 24px;
  color: white;
}

.main__news {
  position: absolute;
  height: fit-content;
  width: 100%;
}
.main__news-form {
  position: relative;
  background-color: white;
  width: 608px;
  border-radius: 100px;
  overflow: hidden;
  color: #b6bcbf;
  height: 64px;
  box-sizing: border-box;
}
.main__news-input {
  height: 64px;
  min-width: 500px;
  width: 500px;
  border: 1px solid #d1d2d6;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #1a1b22;
  text-indent: 24px;
  outline: none;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 100px;
}
.main__news-submit-button {
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
  position: absolute;
  height: 64px;
  width: 168px;
  background-color: #2f71e5;
  color: white;
  border-radius: 100px;
  border: none;
}

.main__saved-container {
  padding: 32px 0;
  height: fit-content;
  width: 100%;
  background-color: #f5f6f7;
}

.main__form-container-mobile {
  position: absolute;
  visibility: collapse;
}

.main__news-submit-button:hover {
  width: 168px;
  background-color: #347eff;
  border: 2px black solid;
  font-size: 18px;
  font-weight: 700;
}

.main__news-input:focus,
.main__news-input:hover {
  border: 2px #4d90fe solid;
  border-radius: 100px;
  background-color: #ffffff;
  box-shadow: 0 0 30px rgba(77, 144, 254, 0.6);
}

@media screen and (max-width: 1111.5px) {
  .cards__list {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .main__search-container-inner {
    padding: 160px 156px 48px 160px;
    max-width: 452px;
  }
  .main__search-container-title {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
  }
  .main__news-form {
    max-width: 452px;
    min-width: 452px;
  }
}

@media screen and (max-width: 629px) {
  .cards__list {
    column-gap: 15px;
    row-gap: 16px;
  }
  .main__randomize-button {
    background-color: black;
    margin: 20px 0 0;
    visibility: visible;
    width: 100%;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .main__randomize-text {
    color: white;
  }
}

@media screen and (max-width: 500px) {
  .main__search-container-inner {
    padding: 86px 16px 32px;
  }
  .main__news-form {
    visibility: collapse;
    position: absolute;
  }
  .main__form-container-mobile {
    position: relative;
    visibility: visible;

    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
  .main__news-form-mobile {
    width: 100%;
  }
  .main__news-input-mobile {
    padding: 0;
    margin: 0;
    border: 1px solid #d1d2d6;
    box-sizing: border-box;
    height: 56px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #1a1b22;
    text-indent: 24px;
    border-radius: 100px;
    outline: none;
    width: 100%;
  }
  .main__submit-button-mobile {
    background-color: #2f71e5;
    color: white;
    border-radius: 100px;
    border: none;
    height: 56px;
    width: 100%;
  }
}

@media screen and (max-width: 395px) {
  .cards__list {
    justify-content: flex-start;
  }
}
.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.background-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-container.black {
  background-color: black;
}
