.saved-news {
  position: relative;
}

.saved-news__header {
  padding: 140px 106px 56px 102px;
}

.saved-news__title {
  color: #1a1b2280;
  font-size: 24px;
}

.saved-news__keywords-text {
  font-size: 18px;
  line-height: 24px;
  max-width: 530px;
}
.saved-news__saved-container {
  height: fit-content;
  width: 100%;
  background-color: #f5f6f7;
}
.saved-news__saved-articles {
  list-style: none;
  padding: 0;
  margin: 0;
}
.saved-news__no-articles {
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .saved-news__header {
    padding: 130px 16px 32px 40px;
  }
}

@media screen and (max-width: 500px) {
  .saved-news__header {
    padding: 64px 17px 32px 15px;
  }
}
