.saved-news {
  position: relative;
}

.saved-news__header {
  padding: 140px 106px 56px 102px;
}

.saved-news__title {
  color: #1a1b2280;
  font-size: 24px;
}
.saved-news__saved-text {
  font: size 40px;
  line-height: 46px;
  font-family: "roboto-slab", Arial, Helvetica, sans-serif;
  font-weight: 400;
  max-width: 530px;
  padding: 16px 0;
  margin: 0;
}

.saved-news__keywords-text {
  font-size: 18px;
  line-height: 24px;
  max-width: 712px;
}
.saved-news__span {
  font-weight: 700;
}
.saved-news__saved-container {
  padding: 32px 0;
  height: fit-content;
  width: 100%;
  background-color: #f5f6f7;
}
.saved-news__saved-articles {
  list-style: none;
  padding: 0;
  margin: 0;
}
.saved-news__no-articles {
  padding: 20px;
  text-align: center;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
  color: #b6bcbf;
}

@media screen and (max-width: 768px) {
  .saved-news__header {
    padding: 130px 16px 32px 40px;
  }
  .saved-news__title {
    font-size: 14px;
    line-height: 24px;
  }
  .saved-news__no-articles,
  .saved-news__saved-text {
    font-size: 30px;
    line-height: 34px;
  }
  .saved-news__keywords-text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (max-width: 500px) {
  .saved-news__header {
    padding: 64px 17px 32px 15px;
  }
  .saved-news__title {
    font-size: 12px;
    line-height: 24px;
  }
}
