.navigation {
  z-index: 1;
  padding-top: 19px;
  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  max-width: 1440px;
  height: 80px;
}

.navigation__logo {
  position: absolute;
  top: 24px;
  left: 104px;
  padding: 0;
  margin: 0;
  height: 80px;
  width: 200px;
  transition: transform 0.3s ease;
  border: 4px black solid;
  border-radius: 20px;
}
.navigation__loggedin-container {
  justify-content: start;
  display: flex;
  align-items: center;
}

.navigation__loggedin-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navigation__link {
  text-decoration: none;
  color: black;
}
.navigation__user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.navigation__user-name {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 24px;
  line-height: 24.8px;
}
.navigation__avatar-button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}
.navigation__avatar-image {
  width: 40px;
  height: 40px;
}
.navigation__logout-button {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
}
.navigation__logout-image {
  width: 25px;
  height: 25px;
}

.navigation__avatar-alt {
  background-color: transparent;
}
.navigation__loggedin-container,
.navigation__login {
  position: absolute;
  right: 104px;
  padding: 0;
  display: flex;
  gap: 42px;
  align-items: center;
}

.navigation__home-button,
.navigation__liked-server-button,
.navigation__login-button,
.navigation__saved-articles-button {
  padding: 0;
  margin: 0;
  width: fit-content;
  text-wrap-mode: nowrap;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  line-height: 24px;
}

.navigation__login-button {
  width: 176px;
  border: 1px solid white;
  padding: 12px;
  border-radius: 100px;
}

.navigation__secondary-container {
  visibility: collapse;
  width: 0;
  height: 0;
}

.navigation__line {
  width: 100%;
  height: 0;
  background-color: white;
  margin-top: 0px;
  opacity: 0;
}

.navigation__line.active {
  height: 4px;
  margin-top: 20px;
  opacity: 1;
}

.navigation__logo:hover {
  transform: scale(1.3);
}

.navigation__mobile-container {
  visibility: collapse;
  position: absolute;
  margin: 0;
  padding: 0;
  height: 0;
}

.navigation__loggedin-container-mobile {
  visibility: collapse;
  width: 0;
  height: 0;
}
.navigation__mobile-container-menu {
  visibility: collapse;
}
.navigation__login-mobile {
  visibility: collapse;
  width: 0;
  height: 0;
}

.liked-by-server__no-articles {
  padding: 20px;
  text-align: center;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
  color: #b6bcbf;
}

.isVisible {
  visibility: collapse;
}
@media screen and (max-width: 1040px) {
  .navigation__loggedin-container,
  .navigation__login {
    right: 40px;
  }
  .navigation__logo {
    top: 15px;
    left: 30px;
  }
}

@media screen and (max-width: 860px) {
  .navigation__user-name {
    position: absolute;
    top: 52px;
    right: -5px;
    background-color: rgba(199, 199, 199, 0.541);
    padding: 0px 10px;
    border-radius: 10px;
  }
  .navigation__logo {
    top: 5px;
    left: 5px;
  }
  .navigation__logo:hover {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 768px) {
  .navigation__loggedin-container {
    width: fit-content;
    gap: 16px;
  }
  .navigation__loggedin-container p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
}

@media screen and (max-width: 687px) {
  .navigation__loggedin-container,
  .navigation__login {
    right: 10px;
  }
}

@media screen and (max-width: 640px) {
  .navigation__secondary-container {
    visibility: visible;
  }
  .navigation__logo {
    top: 65px;
    left: 5px;
  }
}

@media screen and (max-width: 500px) {
  .navigation {
    padding: 0;
    height: fit-content;
  }

  .navigation__loggedin-container,
  .navigation__login,
  .navigation__logo {
    visibility: collapse;
  }
  .navigation__loggedin-container,
  .navigation__user-info {
    position: absolute;
    width: 0;
    height: 0;
  }
  .navigation__mobile-container {
    width: 100%;
    height: 230px;
  }
  .navigation__mobile-container-header {
    position: relative;
    visibility: visible;
    height: 24px;
    padding: 16px;
    max-width: 95%;
    border-bottom: 2px grey solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation__mobile-title {
    font-family: "roboto-slab", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
  .navigation__mobile-button {
    background-image: url("../../assets/menu1white.svg");
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    background-size: contain;
  }
  .navigation__mobile-close-button {
    background-image: url("../../assets/CloseWhite.svg");
    background-color: transparent;
    border: none;
    position: absolute;
    background-size: contain;
    right: 24px;
    width: 24px;
    height: 24px;
  }

  .navigation__home-button,
  .navigation__liked-server-button,
  .navigation__saved-articles-button,
  .navigation__login-button {
    font-size: 16px;
    line-height: 24px;
  }

  .navigation__mobile-container-menu {
    left: -100%;
    visibility: visible;
    position: relative;
    max-width: 95%;
    height: 174px;
  }
  .navigation__loggedin-links {
    padding: 16px 16px 0;
  }
  .navigation__loggedin-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 174px;
  }

  .mobile_container-mod {
    visibility: visible;
    background-color: #1a1b22;
    flex-direction: column-reverse;
  }
  .navigation__user-info-mobile {
    padding: 0 16px 16px;
    display: flex;
    justify-content: end;
    align-items: center;
    min-width: 90%;
    gap: 10px;
  }
  .navigation__user-name-mobile {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
    line-height: 19.8px;
  }
  .navigation__login-mobile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navigation__links-mobile {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 24px;
  }
  .navigation_login-container-mobile {
    padding: 0 16px 24px 16px;
  }
  .isVisible {
    visibility: visible;
  }
}
.mobile-container_mod {
  left: 0;
}

.navigation_line-mod {
  background-color: black;
}
.navigation_text-mod {
  color: black;
  border-color: black;
}
.mobile-button_mod {
  background-image: url("../../assets/CloseBlack.svg");
}

.mobile-button_mod {
  background-image: url("../../assets/menu1black.svg");
}

.mobile-logout_mod {
  background-image: url("../../assets/logout.svg");
}
.login-button_mod {
  width: 100%;
}
