button:hover {
  cursor: pointer;
}

.newscard {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  width: 400px;
  height: 576px;
  max-width: 400px;
  max-height: 576px;
  border: 1px black solid;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.newscard__header-menu {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;

  display: flex;
}

.newscard__favorite-container {
  z-index: 2;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 204px;
  height: 40px;
}

.newscard__favorite-image,
.newscard__favorite-button,
.newscard__remove-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8px;
  border-radius: 8px;
}

.newscard__favorite-button,
.newscard__favorite-image {
  background-image: url("../../assets/bookmark.svg");
}

.newscard__remove-button {
  background-image: url("../../assets/trash.svg");
}

.newscard__like-container {
  z-index: 1;
  position: absolute;
  top: 280px;
  right: 10px;
}

.newscard__like-count {
  position: absolute;
  right: 30px;
  margin: 0;
  padding: 0;
}

.newscard__like-image {
  position: absolute;
  right: 0;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.newscard__like-button {
  position: absolute;
  right: 0;
  z-index: 2;
  padding: 2px;
  background-image: url("../../assets/Heart.svg");
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.newscard__keywords-button {
  position: absolute;
  top: 24px;
  left: 24px;
  width: fit-content;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
}
.newscard__login-to-save {
  width: 182px;
  height: 40px;
  position: absolute;
  visibility: collapse;

  background-color: white;
  border-radius: 10px;
  width: 159px;
  height: 40px;

  top: -3px;
  right: 42px;
}
.newscard__lts-text {
  padding: 14px 20px;
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  line-height: 14.06px;
  text-wrap: nowrap;
}
.newscard__remove-from-save {
  visibility: hidden;
  background-color: white;
  border-radius: 10px;
  width: 159px;
  height: 40px;
  position: absolute;
  top: -3px;
  right: 42px;
}
.newscard__rfs-text {
  font-weight: 500;
  padding: 14px 26px;
  text-align: center;
  text-justify: center;
  font-size: 12px;
  line-height: 14.06px;
}

.newscard__details-container {
  z-index: 0;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newscard__text-container {
  max-width: 360px;
  min-height: 268px;
  height: 268px;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.newscard__image,
.newscard__date,
.newscard__author,
.newscard__title,
.newscard__summary,
.newscard__source {
  padding: 0;
  margin: 0;
}

.newscard__image {
  background-image: url("../../assets/newsexplorerlogo.jpg");
  width: 100%;
  height: 272px;
}

.newscard__date {
  color: #b6bcbf;
  font-size: 18px;
  line-height: 24px;
}
.newscard__title {
  color: #1a1b22;
  font-size: 26px;
  line-height: 30px;
  height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.newscard__author {
  color: #1a1b22;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newscard__summary {
  color: #1a1b22;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  height: 92px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.newscard__source-container {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.newscard__source {
  text-wrap: nowrap;
  color: #b6bcbf;
  font-size: 16px;
  line-height: 20px;
}

.newscard__url {
  border: none;
  background-color: transparent;
  color: blue;
}

.newscard_button-liked {
  background-image: url("../../assets/State_Liked.svg");
}

.newscard_button-favorited {
  background-image: url("../../assets/bookmarkchecked.svg");
}

.newscard_button-liked:hover {
  background-image: url("../../assets/State_Like_Hovered.svg");
}

.newscard__favorite-button:hover {
  background-image: url("../../assets/bookmarkhover.svg");
}

.newscard__remove-button:hover {
  background-image: url("../../assets/trashhover.svg");
}
.newscard__remove-button:hover .newscard__remove-from-save {
  visibility: visible;
}

.newscard__favorite-image:hover .newscard__login-to-save {
  visibility: visible;
}

.newscard__favorite-button:hover .newscard__remove-from-save {
  visibility: visible;
}

.newscard_button-favorited:hover {
  background-image: url("../../assets/bookmarkchecked.svg");
}
@media screen and (min-width: 540px) and (max-width: 880px) {
  .newscard {
    width: 224px;
    max-width: 224px;
    min-height: 440px;
    height: 440px;
    border: none;
    border-radius: 12px;
  }
  .newscard__image {
    height: 150px;
  }

  .newscard__details-container {
    max-width: 224px;
  }
  .newscard__text-container {
    max-width: 224px;
  }

  .newscard__text-container {
    padding: 0 15px 16px 16px;
    max-width: 224px;
    max-height: 268px;
    min-height: 268px;
  }
  .newscard__like-container {
    top: 160px;
  }
  .newscard__title {
    font-size: 22px;
    line-height: 24px;
    height: 48px;
  }
  .newscard__summary {
    height: 115px;
  }
  .newscard__source-container {
    padding-bottom: 10px;
    position: relative;
    max-width: 100%;
    height: fit-content;
  }
  .newscard__url {
    background-color: #b6bcbf;
    border-radius: 10px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    right: 0px;
  }

  .newscard__url:hover {
    background-color: #8f8f8f;
    font-weight: 700;
  }
}

@media screen and (max-width: 629px) {
  .newscard {
    border: none;
    border-radius: 12px;
  }
}

@media screen and (max-width: 450px) {
  .newscard {
    width: 224px;
    max-width: 224px;
    max-width: 224px;
    height: 420px;
    border: none;
    border-radius: 12px;
  }
  .newscard__image {
    height: 150px;
  }
  .newscard__like-container {
    top: 160px;
  }
  .newscard__details-container {
    max-width: 224px;
  }
  .newscard__text-container {
    max-width: 224px;
  }
  .newscard__text-container {
    padding: 0 15px 16px 16px;
    max-width: 224px;
    max-height: 268px;
  }
  .newscard__title {
    font-size: 22px;
    line-height: 24px;
    height: 48px;
  }
  .newscard__summary {
    height: 115px;
  }
  .newscard__source-container {
    padding-bottom: 10px;
    position: relative;
    max-width: 100%;
    height: fit-content;
  }
  .newscard__url {
    background-color: #b6bcbf;
    border-radius: 10px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    right: 0px;
  }

  .newscard__url:hover {
    background-color: #8f8f8f;
    font-weight: 700;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
